/*
* {
    border-style: solid;
    border-color: red;
}
*/

.container {
    border-color: blue;
    width: 100%;
}

.container ul {
    list-style: none;
}

.Welcome .container {
    display: none;
}

.header {
    border-style: solid;
    border-color: #C3C3C3;
    background-color: #C3C3C3;
}

.header .button {
    width: 100%;
    border-radius: 0px;
    border-color: #6A9B8F;
    font-size: 1.5rem;
    padding: 2%;
}

#blog-button {
    background-color: #55E9C4;
}

#projects-button {
    background-color: #5FC0A8;
}

#about-button {
    background-color: #547069;
}

#cv-button {
    background-color: #454A49;
}

#contact-button {
    background-color: #6499BF;
}

.footer {
    background-color: #C5DEEF;
}

.footer .container {
  /*border-style: solid;*/
  padding-top: 10px;


}

/* Larger than mobile */

@media (min-width: 401px) {
    /*CSS styling for tablet mode here*/
}

@media (min-width: 550px) {
    /*CSS styling for tablet mode here*/
    .footer {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

@media (min-width: 1240px) {
    /*Styling for max desktop screen wdith*/
    .Welcome .container {
        display: block;
    }
    /* Styling to make title text appear over image*/
    .Welcome .container img {
        position: relative;
        width: 100%;
        /* for IE 6 */
    }
    /* Styling to make title text appear over image*/
    h1 {
        position: absolute;
        top: 80px;
        left: 350px;
        color: #ffffff;
        font-size: 100px;
    }
    .footer {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;

    }


    .footer .container a{
      /*border-style: solid;*/
      /*display: inline-block;*/
    }
}
