body {
  background-color: #999;
}

.blog-content-holder {
   /*border-color: black;*/
  /*border-style: solid;*/
  margin: 5%;
  padding: 1% 5% 2% 5%;
  background-color: #999;
}

.main-page-title {
  /*border-color: black;*/
  /*border-style: solid;*/
  margin: 5%;
  padding: 1% 5% 2% 5%;
  background-color: #999;
  text-align: center;
  margin: 5px;
}

.main-page-title h1 {
  color: #000;
  font-size: 1010%;

}
